/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-body {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.slide {
  display: inline-block;
  width: 100%;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  object-fit: fill;
}
#hastaneBg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  filter: contrast(.7);
  width: 100%;
  height: 100%;
}
.overlay{
  position: absolute;
  background: rgba(0,0,0,0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.list{
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bolder;
  font-size: 24px;
  margin: calc(50vh - 360px) 2vw;
}
.item{
  width: 50%;
}
.card {
  margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,.8);
    border-radius: 100px;
    
}
.icon{
  background-color: #75C2F6;
  padding: 16px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 8px;
}
.info {
  display: flex;
}
.value{
  background: #1D5D9B;
  color: white;
  padding: 36px;
  border-radius: 0 60px 60px 0;
  min-width: 20%;
  text-align: center;
}
.item-1{
  padding-left: 60px;
}
.item-2{
  padding-left: 120px;
}
.item-3{
  padding-left: 180px;
}
.item-4{
  padding-left: 240px;
}
.item-title{
  width: 100%;
  color: white;
  text-align: center;
  font-size: 48px;
  padding-bottom: 32px;
}